.git
.github
.env
.env.example
.phpunit.result.cache
.idea
.vscode
.DS_Store
node_modules
vendor
public/build
public/hot
public/storage
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
docker-compose.yml
phpunit.xml
README.md
tests
